* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#loading {
    width: 100%;
    height: 140vh;
    background-color: #ffff;
    opacity: 0.2;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


#rot {
    margin-left: 320px;
    width: 155px;
    height: 155px;
    background: #000; /*3dccc7;*/ 
    border-radius: 50%;
    border-right: 3px solid #ffffff;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.maindiv {
    width: 100%;
    height: 140vh;
    background: linear-gradient(180deg, #3dccc7, #021e29);

}

strong {
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    text-shadow: 2px 2px 5px #D5DBDB;
}

.strong {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 120px;
}

h3 {
    font-size: 20px;
    text-shadow: 1px 1px 1px #D5DBDB;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    margin-right: 20px;
    padding-right: 20px;
}

#create_site_txtbox {
    width: 100px;
    transition: 0.5s;
}

 #create_site_txtbox:focus {
     width: 180px;
     transition: 0.5s;
 }

.col {
    text-align: center;
}

p {
    text-align: center;
    margin: 0px;
}


#homepage-first-list {
    text-align: center;
    margin: 0px;
    color: floralwhite;
    overflow: hidden;
    font-size:larger;
    font-family: Monospace, Lucida;
    font-style: normal;
    text-shadow: 8px 8px 8px #0a0a0a;
}

::-webkit-scrollbar {
    display: none;
}


