* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maindiv {
    width: 100%;
    height: 129vh;
    background: linear-gradient(180deg, #3dccc7, #021e29);

}

strong {
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    text-shadow: 2px 2px 5px #D5DBDB;
}

.strong {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 120px;
}

h3 {
    font-size: 20px;
    text-shadow: 1px 1px 1px #D5DBDB;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    margin-right: 20px;
    padding-right: 20px;
}

#create_site_txtbox {
    width: 100px;
    transition: 0.5s;
}

 #create_site_txtbox:focus {
        width: 180px;
        transition: 0.5s;
 }

.col {
    text-align: center;
}

p {
    text-align: center;
    margin: 0px;
}


#homepage-first-list {
    text-align: center;
    margin: 0px;
    color: floralwhite;
    overflow: hidden;
    font-size:larger;
    font-family: Monospace, Lucida;
    font-style: normal;
    text-shadow: 8px 8px 8px #0a0a0a;
}